.flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: #1A2961;
}

.flex-left {
    width: 50%;
    display: grid;
    place-items: center;
    min-width: 300px;
    position: relative;
}

.float-one {
    position: absolute;
    left: 0;
    top: 0;
}

.float-two {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.flex-right {
    background-color: #FFF;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 50%;
    display: grid;
    place-items: center;
}

.section-logo {
    color: #FFF;
    text-align: center;
}

.form {
    padding: 10px;
    max-width: 400px;
}

.form>h1 {
    margin: 0 0 8px 0;
}

@media only screen and (max-width: 600px) {
    .flex-right {
        width: 100%;
    }

    .flex-left {
        display: none;
    }
}