<div class="shadow-md bg-white p-2">
	<div class="max-content">
		<div class="flex justify-between">
			<img class="w-5 inline-block align-middle"
				src="https://ui-avatars.com/api/?name=LOGO&background=1a2961&color=fff"
				alt="">
			<div class="order-last">
				<img class="rounded-full w-8 cursor-pointer"
					[matMenuTriggerFor]="menu"
					src="https://ui-avatars.com/api/?name={{initial}}&background=1a2961&color=fff"
					alt="">
				<mat-menu #menu="matMenu"
					xPosition="before">
					<div class="mat-menu-container"
						(click)="$event.stopPropagation();">
						<div class="flex flex-row">
							<div class="basis-1/3 self-center">
								<img class="rounded-full w-8"
									src="https://ui-avatars.com/api/?name={{initial}}&background=1a2961&color=fff"
									alt="">
							</div>
							<div class="basis-full">
								<div class="font-secondary black">Desy Gusrita</div>
								<div class="font-primary fs-12">@dg</div>
							</div>
						</div>
						<!-- <div class="col-xs-3">
							<img class="rounded-full w-8"
								src="https://ui-avatars.com/api/?name={{initial}}&background=1a2961&color=fff"
								alt="">
						</div>
						<div class="col-xs-9">
							<div class="font-secondary black">Desy Gusrita</div>
							<div class="font-primary fs-12">@dg</div>
						</div> -->
					</div>
					<div class="divider"></div>
					<div class="mat-menu-container"
						(click)="$event.stopPropagation();">
						<div class="text-center">
							<a (click)="logout()"
								class="font-primary fs-14 fw-500 link">Logout</a>
						</div>
					</div>
				</mat-menu>
			</div>
		</div>
	</div>
</div>
