<div class="shadow-md bg-white p-2">
	<div class="max-content">
		<div class="flex justify-between">
			<img class="svg-color-green w-8 inline-block align-middle"
				src="assets/images/logo.png"
				alt="">
			<div class="order-last self-center">
				<img class="rounded-full w-8 cursor-pointer"
					[matMenuTriggerFor]="menu"
					src="https://ui-avatars.com/api/?name={{initial}}&background=1a2961&color=fff"
					alt="">
				<mat-menu #menu="matMenu"
					xPosition="before">
					<div class="mat-menu-container"
						(click)="$event.stopPropagation();">
						<div class="flex flex-row gap-2">
							<div class="basis-1/3 self-center">
								<img class="rounded-full w-8"
									src="https://ui-avatars.com/api/?name={{initial}}&background=1a2961&color=fff"
									alt="">
							</div>
							<div class="basis-full">
								<div style="max-width: 129px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
									class="font-secondary text-black">{{name}}</div>
								<div class="font-primary fs-12">@{{username}}</div>
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="mat-menu-container"
						(click)="$event.stopPropagation();">
						<div class="text-center">
							<a (click)="logout()"
								class="font-primary fs-14 fw-500 text-blue-500 hover:text-blue-700 cursor-pointer">Logout</a>
						</div>
					</div>
				</mat-menu>
			</div>
		</div>
	</div>
</div>
<!-- <div *ngIf="loading"
	class="absolute top-12 w-full">
	<mat-progress-bar *ngIf="loading"
		mode="indeterminate"></mat-progress-bar>
</div> -->
<div *ngIf="loading"
	class="overlay">
	<mat-progress-bar class="loading"
		mode="indeterminate"></mat-progress-bar>
</div>
