.header {
	padding: 10px;
	background-color: #FFF;
	box-shadow: 0 1px 3px #0003, 0 1px 2px #00000030
}



.logo {
	align-items: center;
}

.avatar {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	vertical-align: middle;
}