.dialog-header,
.dialog-content {
	padding: 10px 20px;
}

.dialog-header h4 {
	margin: 0;
	font-weight: 500;
}

.dialog-header img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
	cursor: pointer;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}

.input-prefix {
	display: table-cell;
	width: 100%;
	padding: 12px 16px;
	background: transparent;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	font-size: 14px;
	color: var(--tertiary);
}

.input-prefix-error {
	border: 1px solid #E50000;
}

.suffix .input-prefix {
	border-radius: 4px 0px 0px 4px;
}

.suffix .input-group-addon {
	border-left: 0;
	border-radius: 0px 4px 4px 0px;
}

.prefix .input-prefix {
	border-radius: 0px 4px 4px 0px;
}

.prefix .input-group-addon {
	border-right: 0;
	border-radius: 4px 0px 0px 4px;
}

.presuffix .input-prefix {
	border-radius: 0px;
}

.input-group-addon.prefix {
	border-radius: 4px 0px 0px 4px;
	border-right: 0;
}

.input-group-addon.suffix {
	border-radius: 0px 4px 4px 0px;
	border-left: 0;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}