<div class="max-content">
	<div class="font-secondary fw-500 fs-18 mt-10">Dashboard</div>
	<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
	<div class="dashboard mt-22">
		<div class="row">
			<div class="col-md-3 col-xs-6 no-padding">
				<div class="card">
					d
				</div>
			</div>
			<div class="col-md-3 col-xs-6 no-padding">
				<div class="card">
					d
				</div>
			</div>
			<div class="col-md-3 col-xs-6 no-padding">
				<div class="card">
					d
				</div>
			</div>
			<div class="col-md-3 col-xs-6 no-padding">
				<div class="card">
					d
				</div>
			</div>
		</div>
	</div>
</div>
