textarea:focus,
input:focus,
button:focus {
	outline: none;
}

.form-group {
	padding-bottom: 22px;
	position: relative;
	font-family: 'Raleway', sans-serif;
}

.form-group>.error {
	font-size: 10px;
	color: #E50000 !important;
	position: absolute;
	right: 0;
	margin-top: 4px;
}

.form-group>label {
	font-size: 12px;
	font-weight: 700;
}

.form-control {
	display: block;
	width: 100%;
	padding: 12px 16px;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #D2D2D2;
	font-size: 14px;
	color: var(--tertiary);
}

.form-control-error {
	display: block;
	width: 100%;
	padding: 12px 16px;
	background: transparent;
	border-radius: 5px;
	border: 1.5px solid #E50000;
	font-size: 14px;
	color: var(--tertiary);
}

/* Button */
.btn {
	padding: 10px 24px;
	cursor: pointer;
	transition-duration: 0.5s;
}

.btn-sm {
	padding: 5px 10px;
	cursor: pointer;
	transition-duration: 0.5s;
}

.btn-full {
	width: 100%;
}

.btn-primary {
	background: #1A2961;
	color: #FFF;
	border: none;
	border-radius: 0.300rem;
	font-size: 14px;
	font-weight: 500;
}

.btn-primary:hover {
	background: #1a2961dd;
}

.btn-outline {
	background: transparent;
	color: #1A2961;
	border: 1px solid #1A2961;
	border-radius: 0.300rem;
	font-size: 14px;
	font-weight: 500;
}

/* Dialog */
.mat-dialog-container {
	padding: 0px !important;
}

.dialog {
	padding: 10px 20px;
	max-width: 390px;
}

.dialog>h2 {
	margin: 0;
}

.dialog>.img-error {
	width: 60px;
	margin: 10px;
	filter: invert(9%) sepia(100%) saturate(5352%) hue-rotate(359deg) brightness(107%) contrast(121%);
}

/* Snackbar */
.custom-snackbar {
	background: rgba(224, 5, 5, 0.7);
	color: white;
}

/* Divider */
.divider {
	border-bottom: 1px solid rgb(229 231 235);
}

/* SVG Color */
.svg-color-grey {
	filter: invert(48%) sepia(4%) saturate(1182%) hue-rotate(182deg) brightness(90%) contrast(88%);
}

.svg-color-green {
	filter: invert(41%) sepia(53%) saturate(574%) hue-rotate(87deg) brightness(97%) contrast(93%);
}