textarea:focus,
input:focus,
button:focus {
	outline: none;
}

.form-group {
	padding-bottom: 22px;
	position: relative;
	font-family: 'Raleway', sans-serif;
}

.form-group>.error {
	font-size: 10px;
	color: #E50000 !important;
	position: absolute;
	right: 0;
	margin-top: 4px;
}

.form-group>label {
	font-size: 12px;
	font-weight: 700;
}

.form-control {
	display: block;
	width: 100%;
	padding: 12px 16px;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #D2D2D2;
	font-size: 14px;
	color: var(--tertiary);
}

.form-control-error {
	display: block;
	width: 100%;
	padding: 12px 16px;
	background: transparent;
	border-radius: 5px;
	border: 1.5px solid #E50000;
	font-size: 14px;
	color: var(--tertiary);
}

/* Button */
.btn {
	padding: 10px 24px;
	cursor: pointer;
}

.btn-full {
	width: 100%;
}

.btn-primary {
	background: #1A2961;
	color: #FFF;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}

/* Dialog */
.mat-dialog-container {
	padding: 0px !important;
}