textarea:focus, input:focus, button:focus{
    outline: none;
}
.form-group {
    padding-bottom: 1.30rem;
    position: relative;
    font-family: 'Raleway', sans-serif;
}
.form-group > .error {
    font-size: 12px;
    color:#EA3D2F !important;
    position: absolute;
    left: 0;
}
.form-control {
    display: block;
    width: 100%;
    padding: 12px 16px;
    background: var(--secondary);
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 14px;
    color: var(--tertiary);
}
.form-control-error {
    display: block;
    width: 100%;
    padding: 12px 16px;
    background: var(--secondary);
    border-radius: 5px;
    border: 1px solid #EA3D2F;
    font-size: 14px;
    color: var(--tertiary);
}