.mb-4 {
    margin-bottom: 4px;
}
.mb-8 {
    margin-bottom: 8px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-14 {
    margin-bottom: 14px;
}
.mb-18 {
    margin-bottom: 18px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-22 {
    margin-bottom: 22px;
}