.font-primary {
	font-family: 'Inter', sans-serif;
}

.font-secondary {
	font-family: 'Poppins', sans-serif;
}

.fw-100 {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fs-8 {
	font-size: 8px;
}

.fs-10 {
	font-size: 10px;
}

.fs-12 {
	font-size: 12px;
}


.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-22 {
	font-size: 22px;
}

.fs-24 {
	font-size: 24px;
}

.fs-26 {
	font-size: 26px;
}

.fs-28 {
	font-size: 28px;
}

.fs-30 {
	font-size: 30px;
}

.fs-32 {
	font-size: 32px;
}

.fs-34 {
	font-size: 34px;
}