<div class="max-content">
	<div class="mt-30 card no-padding">
		<div class="row middle-xs"
			style="padding:10px">
			<div class="col-xs-8">
				<div class="left">
					<h3 class="font-secondary no-padding black">List Order</h3>
					<p class="font-primary fs-14 no-padding">Manajemen semua undangan digital yang sudah kamu beli
						disini</p>
				</div>
			</div>
			<div class="col-xs-4 end-xs">
				<div class="right">
					<button class="btn btn-primary"
						matRipple>Order Undangan Lain</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-30 card no-padding">
		<div *ngFor="let item of orderList">
			<div class="row middle-xs items-order">
				<div class="col-xs-12 col-md-1 start-md center-xs">
					<div class="left mb-14-xs">
						<img class="avatar-item"
							[src]="item.urlImage"
							alt="icon">
					</div>
				</div>
				<div class="col-xs-12 col-md-5 start-md center-xs">
					<div class="left mb-14-xs">
						<h4 class="font-secondary no-padding black">{{item.nameItem}}</h4>
						<div class="font-primary fs-12 no-padding flex-middle start-md center-xs">
							<img class="svg-color-green"
								src="assets/icons/calendar.svg"
								alt="date">&nbsp;
							<span>Aktif sejak {{item.createdAt | date:'D-M-YYYY'}}</span>
						</div>
						<div class="font-primary fs-12 no-padding flex-middle start-md center-xs mt-4">
							<img class="svg-color-grey"
								src="assets/icons/link.svg"
								alt="link">&nbsp;
							<span class="link"
								(click)="openUrl(item.url)">dazelinv.com/{{item.url}}</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 end-md center-xs">
					<div class="right">
						<button class="btn-sm btn-outline"
							(click)="openDialogChangeUrl(item)"
							matRipple>Ubah Alamat Website</button>
						&nbsp;
						<button class="btn-sm btn-primary"
							matRipple>Dashboard</button>
					</div>
				</div>
			</div>
			<div class="divider"></div>
		</div>
	</div>
</div>
