<div class="max-content pt-6">
	<div class="card mb-6">
		<!-- <div class="flex">
			<div class="flex-1 w-80 p-4">
				<h3 class="font-secondary fs-18 fw-500 text-black">List Order</h3>
				<p class="font-primary fs-14">Manajemen semua undangan digital yang sudah kamu beli
					disini</p>
			</div>
			<div class="flex-none sm:w-100 p-4 self-center">
				<button class="rounded-md text-white fs-14 bg-violet-900 w-full py-1.5 px-3"
					matRipple>Order Undangan Lain</button>
			</div>
		</div> -->
		<div class="sm:flex justify-between">
			<div class="p-4 w-80">
				<h3 class="font-secondary fs-18 fw-500 text-black">List Order</h3>
				<p class="font-primary fs-14">Manajemen semua undangan digital yang sudah kamu beli
					disini</p>
			</div>
			<div class="p-4 self-center">
				<button class="rounded-md text-white fs-14 bg-violet-900 w-full py-1.5 px-3"
					matRipple>Order Undangan Lain</button>
			</div>
		</div>
	</div>
	<div class="card">
		<div *ngFor="let item of orderList">
			<div class="flex flex-col sm:flex-row p-4">
				<div class="basis sm:basis-20 self-center">
					<img class="avatar-item"
						[src]="item.urlImage"
						alt="icon">
				</div>
				<div class="basis-1/2 text-center sm:text-left">
					<h4 class="font-secondary text-black py-1 sm:py-0">{{item.nameItem}}</h4>
					<div
						class="font-primary fs-12 flex-middle place-content-center sm:place-content-start py-1 sm:py-0">
						<img class="svg-color-green"
							src="assets/icons/calendar.svg"
							alt="date">&nbsp;
						<span>Aktif sejak {{item.createdAt | date:'dd-M-YYYY'}}</span>
					</div>
					<div
						class="font-primary fs-12 flex-middle place-content-center sm:place-content-start py-1 sm:py-0">
						<img class="svg-color-grey"
							src="assets/icons/link.svg"
							alt="link">&nbsp;
						<a class="text-blue-500 hover:text-blue-700 cursor-pointer"
							(click)="openUrl(item.url)">dazelinv.com/{{item.url}}</a>
					</div>
				</div>
				<div class="basis-1/2 self-center">
					<div class="flex mt-1 sm:mt-0 sm:justify-end">
						<button class="fs-12 rounded-md py-1 px-3 text-violet-900 border border-violet-900"
							(click)="openDialogChangeUrl(item)"
							matRipple>Ubah Alamat Website</button>
						&nbsp;
						<button class="fs-12 rounded-md py-1 px-3 text-white bg-violet-900"
							(click)="openDashboard(item)"
							matRipple>Dashboard</button>
					</div>
				</div>
			</div>
			<div class="divider"></div>
		</div>
	</div>
</div>
