<div class="px-4 py-4">
	<div class="flex justify-between">
		<h4 class="text-black fw-500">Cerita Cinta</h4>
		<img class="cursor-pointer"
			(click)="close(false)"
			src="assets/icons/close.svg"
			alt="close">
	</div>
	<div class="scroll">
		<div class="col-span-full mt-3">
			<label for="title"
				class="block fs-12 mb-1 text-gray-900">Judul</label>
			<input type="text"
				id="title"
				[(ngModel)]="form.title"
				[ngClass]="!formValid.title ? 'border-rose-500' : 'border-slate-200'"
				placeholder="Awal Mula Ketemuan"
				class="block w-full rounded-md border py-1.5 px-3 fs-14 text-gray-900 placeholder:text-gray-300">
		</div>
		<div class="col-span-full mt-3">
			<label for="ket"
				class="block fs-12 mb-1 text-gray-900">Keterangan</label>
			<input type="text"
				id="ket"
				[(ngModel)]="form.subtitle"
				[ngClass]="!formValid.subtitle ? 'border-rose-500' : 'border-slate-200'"
				placeholder="Keterangan waktu / Keterangan tempat"
				class="block w-full rounded-md border py-1.5 px-3 fs-14 text-gray-900 placeholder:text-gray-300">
		</div>
		<div class="col-span-full mt-3">
			<label for="cerita"
				class="block fs-12 mb-1 text-gray-900">Cerita</label>
			<textarea id="cerita"
				[(ngModel)]="form.description"
				placeholder="Kisah ini berawal dari pertemuan kami di sebuah organisa...."
				class="block w-full rounded-md border border-slate-200 py-1.5 px-3 fs-14 text-gray-900 placeholder:text-gray-300"></textarea>
		</div>
	</div>
</div>
<div class="bg-sky-50 px-4 py-4 flex justify-end">
	<button (click)="close(false)"
		class="rounded-md fs-14 py-1.5 px-6 text-violet-900 border border-violet-900">Batal</button>
	&nbsp;
	<button (click)="submit()"
		class="rounded-md text-white fs-14 bg-violet-900 py-1.5 px-6">Simpan</button>
</div>
