/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import "assets/css/typography.css";
@import "assets/css/component.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #6B7280;
	font-family: 'Inter', sans-serif;
}

.max-content {
	max-width: 700px;
	margin: auto;
}

@media only screen and (max-width: 700px) {
	.max-content {
		padding-left: 10px;
		padding-right: 10px;
	}
}